<div class = "container">
    <div class = "row">
        <a routerLink = "/home">Features</a>>
        <div class = "col-md-6">
            <h1 class="font-weight-light">Image Slider One</h1>
            <p >Here you can write anything about the website. These are the sample pictures ,replace them and use your own. These pictures are taken from unsplash.</p>
            <p >Bacon ipsum dolor amet drumstick short loin ribeye sirloin ham spare ribs landjaeger, pig turducken meatball sausage. Salami cow shoulder pork loin. Meatloaf turducken andouille chuck beef ribs picanha. Filet mignon pastrami fatback ribeye leberkas shank boudin sirloin beef short ribs tail pig pork loin shoulder buffalo. Short ribs andouille swine chicken leberkas. Fatback sirloin pork belly turkey landjaeger corned beef biltong, buffalo bresaola strip steak brisket short loin salami.</p>
        </div>
        <div class = "col-md-6">
            <h1 class="font-weight-light">Image Slider Two</h1>
            <p >Replace the other content and use your own. These pictures are taken from unsplash1.2.</p>
            <p > drumstick short loin ribeye ,sausage. Salami cow shoulder pork loin. Meatloaf turducken andouille chuck beef ribs picanha. Leberkas shank boudin Filet mignon pastrami fatback ribeye  sirloin beef short ribs tail pig pork loin shoulder buffalo. Short ribs andouille swine chicken leberkas. Fatback sirloin pork belly turkey landjaeger corned beef biltong, buffalo bresaola strip steak brisket short loin salami.</p>
        </div>
    </div>
</div>
